= form_for @user,:html => {:class => "ui form"} do |f|
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :email
    = f.text_field :email
  %div
    = f.label :status
    = f.text_field :status
  %div
    = f.label :trainer
    = f.check_box :trainer
  %div
    = f.label :admin
    = f.check_box :admin
  %div
    = f.submit "Update User"
