= form_for @user do |f|
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :email
    = f.text_field :email
  %div
    = f.label :status
    = f.text_field :status
  %div
    = f.submit "Update User"
