%a{:href => "/users/new"}
  .ui.buttons
    %button.ui.labeled.icon.button
      %i.plus.icon
      Invite New User


%table.ui.celled.striped.table
  %thead
    %tr
      %th{:colspan => "6"}
        %div Users
      %tr
        %th.collapsing
          %i.users.icon
          Name
        %th.collapsing
          %i.mail.icon
          Email
        %th.collapsing
          %i.marker.icon
          Location
        %th
          %i.sticky.note.icon
          Type
        %th.right.collapsing
  %tbody
    - @users.all.each do |user|
      %tr
        %td.collapsing
          = user.name
        %td.collapsing
          = user.email
        %td.collapsing
          = ResidencyLocation.where(id: user.id).name
        %td.collapsing
          - if user.trainer?
            = "Trainer"
          - else
            = "Normal User"
        %td.right.collapsing
          = link_to "View", "/users/#{user.id}", method: :get
          &emsp;
          = link_to "Edit", "/users/#{user.id}/edit", method: :get
          &emsp;
          = link_to "Destroy", "/users/#{user.id}", method: :delete, data: { confirm: "You sure?" }
