%a{:href => "/users/new"}
  .ui.buttons
    %button.ui.labeled.icon.button
      %i.plus.icon
      Add New User


%table.ui.celled.striped.table
  %thead
    %tr
      %th{:colspan => "6"}
        %div Users
  - @users.all.each do |user|
    %tbody
      %tr
        %td.collapsing
          %i.users.icon
          = user.name
        %td.collapsing
          %i.mail.icon
          = user.email
        %td.collapsing 
          %i.marker.icon
          location
        %td.collapsing 
          %i.folder.icon
          - if user.trainer?
            = "Trainer"
          - else
            = "Normal User"
        %td.right.collapsing 
          = link_to "View", "/users/#{user.id}", method: :get
          &emsp;
          = link_to "Edit", "/users/#{user.id}/edit", method: :get
          &emsp;
          = link_to "Destroy", "/users/#{user.id}", method: :delete, data: { confirm: "You sure?" }