= link_to "New User", "users/new", method: :get

%ul
  - @users.all.each do |user|
    %li
      = user.name
      %p= user.email
      - if user.trainer?
        %p= "Trainer"
      - else
        %p= "Normal User"
      = link_to "View", "/users/#{user.id}", method: :get
      = link_to "Edit", "/users/#{user.id}/edit", method: :get
      = link_to "Destroy", "/users/#{user.id}", method: :delete, data: { confirm: "You sure?" }

= form_tag("/users/invite", method: "post") do
  = label_tag(:email, "Email address:")
  = text_field_tag(:email)
  = submit_tag("Invite")
