.ui.text.container
  - if flash[:error]
    - flash[:error].each do |key, value|
      .error.ui.red.message
        = key.titleize
        = value[0]
  = form_for @user, url: '/users/invite', method: 'post', html: {class: "ui form"} do |f|
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :status
      = f.select :status, User::STATUSES
    .field
      = f.label :residency_location_id, 'Residency Location'
      = f.collection_select(:residency_location_id, ResidencyLocation.all, :id, :name)
    .field
      = f.label :trainer
      = f.check_box :trainer
    .field
      = f.label :admin
      = f.check_box :admin
    = submit_tag 'Invite', :class => "ui primary button"
    %a{:href => "/users"}
      = button_tag "Cancel", :type => 'button', :class => "ui button"
