<div class="ui text container form">
  <%= form_for @user, url: "/users/invite", method: "post" do |f| %>
    <div class="field">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :status, "Status:" %>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :residency_location_id, "Location:" %>
      <%= f.select :residency_location_id, options_from_collection_for_select(ResidencyLocation.all, :id, :name) %>
    </div>
    <%= submit_tag "Invite", class: "ui primary button" %>
    <a href="/users">
      <%= button_tag "Cancel", :type => 'button', :class => "ui button" %>
    </a>
  <% end %>
</div>
