.ui.items
  .item
    .content
      .header
      = @user.name
      .meta
        %span.email
        = @user.email
        %span.status
        = @user.status
        %span.location
        = @location.name
      %table.description.celled.table.ui
        Procedures
        %thead
          %tr
            %th
              Date
            %th
              Name
            %th
              Location

        %tbody
          - (@procedures.order(date: :desc)).each do |p|
            %td.collapsing
              = link_to p.date.to_s, procedure_path(id: p.id)
            %td
              = p.name
            %td
              =p.clinic_location
