.ui.text.container
  = form_for @procedure,:html => {:class => "ui form"} do |f|
    .field
      = f.label 'Resident'
      - if @allowNameEntry == true
        %select{:name => "procedure[user_id]", :multiple => false}
          - @users.each do |user|
            %option{value: user.id}
              - if user.name != nil
                = user.name << " -- " << user.email
              - else
                = user.email
      - else
        = f.text_field :user_id, disabled: true, value: @residentName, placeholder: @residentName
    .field.date
      = f.label :date
      = f.date_field :date
    .field
      = f.label :name, 'Procedure Name'
      = f.select :name, Procedure::NAMES
    .field
      = f.label :gestation
      = f.number_field :gestation
    .field
      = f.label :assistance
      = f.select :assistance, ['Observed', 'Performed']
    .ui.segment
      .field
        = f.label :trainer_name, 'Trainer'
        = f.select :trainer_name, @trainers, include_blank: true
      .ui.horizontal.divider
        Or
      .field
        Custom Trainer
        = text_field_tag 'New Trainer'
    .ui.segment
      .field
        = f.label :clinic_location, 'Clinic Location'
        = f.select :clinic_location, @clinic_locations, include_blank: true
      .ui.horizontal.divider
        Or
      .field
        Custom Clinic Location
        = text_field_tag 'New Clinic Location'
    .field
      = f.label :notes
      = f.text_field :notes
    .ui.buttons
      = f.submit 'Submit', :name => 'addanother', :class => "button ui positive button"
      .or
      = f.submit 'Submit and Add Another', :name => 'addanother', :class => "button ui button"
      / %a{:href => "/procedures/new"}
      /   = button_tag "Submit and Add Another Procedure", :type => 'button', :class => "ui button"
      .or
      %a{:href => "/procedures"}
        = button_tag "Cancel", :type => 'button', :class => "ui button negative"
