.ui.text.container
  = form_for @procedure,:html => {:class => "ui form"} do |f|
    .field
      = f.label 'Resident'
      - if @allowNameEntry == true
        %select{:name => "procedure[user_id]", :multiple => false}
          - @users.each do |user|
            %option{value: user.id}
              - if user.name != nil
                = user.name << " -- " << user.email
              - else
                = user.email
      - else
        = f.text_field :user_id, disabled: true, value: @residentName, placeholder: @residentName
    .field.date
      = f.label :date
      = f.date_field :date
    .field
      = f.label :name, 'Procedure Name'
      = f.select :name, Procedure::NAMES
    .field
      = f.label :gestation
      = f.number_field :gestation
    .field
      = f.label :assistance
      = f.select :assistance, ['Observed', 'Performed']
    .field
      = f.label :trainer_name, 'Trainer'
      = f.select :trainer_name, @trainers, include_blank: true
    .ui.horizontal.divider
      Or
    .field
      = text_field_tag 'New Trainer'
    .field
      = f.label :clinic_location, 'Clinic Location'
      = f.select :clinic_location, @clinic_locations, include_blank: true
    .ui.horizontal.divider
      Or
    .field
      = text_field_tag 'New Clinic Location'
    .field
      = f.label :notes
      = f.text_field :notes
    .field
      = f.submit 'Submit', :class => "ui primary button"
      %a{:href => "/users"}
        = button_tag "Cancel", :type => 'button', :class => "ui button"


//TODO: Pull procedure names from the database and list all possible options from the procedure DB table.
//TODO: Get CSS working with "ui form" class

/ /*
/ 		%div.field
/ 			%label{:for => "gest"} Weeks Gestation:
/ 			%input{:name => "procedure[gestation]", :type => "number", :value => ""}/
/ 		-#TODO: Clinic locations should be populated based off of residency locations.
/ 		%div.field
/ 			%label{:for => "clinic_location"} Clinic Location:
/ 			%select{:name => "procedure[clinic_location]", :multiple => false}
/ 				%option{value: 'Qonos'} Kronos
/ 				%option{value: 'Pluto'} Pluto
/ 				%option{value: 'Mars'} Mars
/ 				%option{value: 'The Mooon'} The Moon
/ 				%option{value: 'Pluto'} Pluto
/ 				%option{value: 'Io'} Io
/ 		%div.field
