.ui.buttons
  %button.ui.labeled.icon.button
    %i.left.chevron.icon
    %a.item{:href => "/users"} Back to Users List


.ui.text.container
  = form_for @user,:html => {:class => "ui form"} do |f|
    %div.field
      = f.label :name
      = f.text_field :name
    %div.field
      = f.label :email
      = f.text_field :email
    %div.field
      = f.label :status
      = f.text_field :status
    %div
      = f.label :trainer
      = f.check_box :trainer
    %div
      = f.label :admin
      = f.check_box :admin
    %div.field
      = f.submit 'Submit', :class => "ui primary button"
