.ui.text.container
  = form_for @user,:html => {:class => "ui form"} do |f|
    %div.field
      = f.label :name
      = f.text_field :name
    %div.field
      = f.label :email
      = f.text_field :email
    %div.field
      = f.label :status
      = f.text_field :status
    %div.field
      = f.label 'Residency Location'
      = f.collection_select(:residency_location_id, ResidencyLocation.all, :id, :name)
    .ui.checkbox
      = f.label :trainer
      = f.check_box :trainer
    .ui.checkbox
      = f.label :admin
      = f.check_box :admin
    %div.field
      = f.submit 'Submit', :class => "ui primary button"
      = link_to "Cancel", users_path
