%p= t(".hello", name: @resource.name)

%p= t(".someone_invited_you")

%p= t(".save_webpage", url: "https://teach-program.herokuapp.com/")

%p= link_to t(".accept"), accept_invitation_url(@resource, :invitation_token => @token)

%p= t(".ignore")
%p= t(".sign_off")
%p= t(".sig")
