= form_for @residency_location,:html => {:class => "ui form"} do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.submit 'Submit', :class => "ui primary button"
    %a{:href => "/residency_locations"}
      = button_tag "Cancel", :type => 'button', :class => "ui button"
