!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TeachProgramTracker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    

  %body
    %br/
    .ui.container
      - if notice or alert
        .ui.message
          = notice
          = alert
          %i.close.icon
      - if user_signed_in?
        .ui.menu
          .item
            %img{:src => "/teachlogoburst.png"}/
          %a.item{:href => "/"}
            Home
          %a.item{:href => "/procedures/new"}
            Add Procedure
          - if current_user.admin or current_user.trainer
            %a.item{:href => "/users/new"}
              Add User
          .right.menu
            %a.ui.item{"data-method" => "delete", :href => "/my/users/sign_out", :rel => "nofollow"} Logout
      .ui.container
      = yield

    :javascript
      $('.message .close.icon')
        .on('click', function() {
          $(this)
            .closest('.message')
            .transition('fade')
          ;
        })
      ;
